title {
  font-size: large;
  color: #01b1f3;
  background-color: black;
}

body {
    font-style: inherit;
    padding: 5px;
    margin: 5px;
    text-decoration-style: wavy;
    background-color: rgba(0, 0, 0, 0.852);
  }
  
   
  h1 {
    display:contents; 
    color: white;
    text-align: center;
    padding: 24px;
    margin-top: 2cm;
    margin-block-end: 24cm;
    text-decoration:blue
  }
  
  #reset {
    background-color: maroon;
    padding: 5px 10px;
    border-radius: 7px;
    color: white;
    font-weight: bold;
  }
  

  
  
  #add {
    background-color: green;
    padding: 10px 10px;
    border-radius: 7px;
    color: white;
    font-weight: bold;
  }
  
  #add:hover {
    background-color: forestgreen;
  }
  

  .characters {
    height: 99%;
    width: 29%;
    background-color: rgba(231, 14, 170, 0.5);
    border-radius: 10px;
    text-align: justify;
  }
  
  .details {
    height: 90%;
    width: 30%;
    background-color: rgba(49, 20, 236, 0.119);
    border-radius: 90px;
    justify-items: normal;
    align-items: center 
  }
  
  
  h2 {
    text-align: left;
    margin: 2%;
    padding: 12px;
    color: #01b1f3;
    max-height: 10%;
    font-style: bold;
  }
  
  .info {
    width: 92%;
    height: 95%;
    margin: 2cm;
    display: flex;
    align-items: left;
    max-height: 12%;
  }
  
  .name {
    width: 100%;
    height: 20%;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin-right: 2cm;
  }
  
  .label {
    font-weight: bold;
    color: teal;
    font-size: 16px;
    margin-right: 1px;
  }
  
  .value {
    color: rgb(199, 167, 170);
    font-size: 17px;
    margin-right: 2cm;
  }
  
  #img {
    width: 100%;
    height: 100%;
  }
  
  #vote {
    background-color: rgb(1, 125, 98);
    font-size: 17px;
    font-weight: bold;
    color: white;
    block-size: 4cm;
    border-radius: 100px;
    border-color: floralwhite;
    margin-top: 54%
  }
  
  #vote:hover {
    background-color: rgba(90, 0, 128, 0.8);
  }
  
  .listItem {
    background-color: black;
    color: white;
    font-size: 100%;
    font-style: normal;
    cursor: pointer;
    text-align: center;
    margin-block-start: 2ch;
  }
  
  .listItem:hover {
    background-color: rgba(12, 125, 230, 0.5);
  }
  